<div class="container index-container text-center">
  <h1>{{ title }}</h1>
  <div class="container body-container text-center">
    <p><h3>Welcome to your profile page</h3></p>

    <div>
      <p><b>Username:</b> {{ user.username }} </p>
      <p><b>Email:</b> {{ user.email }} </p>
    </div>
    <div>
      <p>This app will allow you to find all the latest tickets with</p>
      <p>the best prices! You'll be able to message other user's for</p>
      <p>their tickets and then meet up and get those courtside Tix!</p>
    </div>
    <div>
      <p>Starred Tix</p>
      <ul>
        <li>No tickets Starred</li>
      </ul>
    </div>
  </div>
</div>
