<div class="container index-container text-center">
	<h3>
		Welcome to StudenTix, the best place to find other folks that want to buy your tickets!
    </br>
        Please login or signup to find the next best deal on tickets.
	</h3>
    <img class="header-logo" src="/img/cc-voyager-logo.svg" alt="StudenTix">
</div>
